## See
## https://help.github.com/articles/ignoring-files/ for more about ignoring files.
## https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files
##
## a friendly reminder:
## git init
## git add README.md
## git commit -m "first commit"
## git remote add origin https://github.com/username/repositoryname.git
## git push -u origin master
## with double wildcard (**) you can ignore folders indipendently of where they're nested

############################### ROCK N' ROLL ####################################################

#### Emacs stuff ####

*.*~
*.*#
.tern-port

#### dependencies  ####

**/node_modules
/.pnp
.pnp.js

#### testing ####

/coverage

#### production ####

/build
/dist

#### images ####

##**/img
##**/images
*.svg
##*.jpg
##*.jpeg
*.bmp
##*.png
*.gif

#### backup and stuff ####

*.zip
*.*old$
*_old.*
/*_old$
/_stuff$
**/stuffbox
**/testingstuff
**/teststuff
**/notes
**/bck
#### database 
**/users_data
**/diagnostic.data

#### misc ####

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.#*


